.nombre{
    
    width: 500px;
    background-color: #3EC0E7;
    height: 122px;
    border-radius:13px;
    margin-left: 400px;
    margin-top: 40px
}



.letras{
    
    font-family: arial;
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
    color:white;
    height: 122px;
    transition: 3s
    
        
}
.camiseta{
    width: 940px;
    background-color: #3EC0E7;
    height: 450px;
    border-radius: 13px;
    margin-left:130px;
    margin-top: 70px;
    
   
}


body{
    background-image: url("https://i.pinimg.com/736x/43/72/0b/43720b453c7f5541263154ed7bae4dcb.jpg");
    background-repeat: no-repeat;
    background-size:cover;

}
.foto{
    
    height: 400px;
    width: 400px;
    border-radius:13px;
    
}
.caracteristicas{
    
    font-family:arial;
    font-size: 22px;
    position: absolute;
    left: 590px;
    top:245px;
    width: 450px;
    color:white;
    transition:1s
}
.car{
    margin-left:70px;
    
        
    font-weight:bolder;
    font-size: 25px
    
}







.foto:hover{
transform:scale(1.3)    
    
    
}
#boton{
    
    height: 40px;
    background-color: white;
    border-radius:13px;
    border: none;
    margin-left: 70px;
    color:#3EC0E7;
    
    
}
#boton:hover{
    transform:scale(1.3)
}

#mas{
    height: 300px;
    background-color: #3EC0E7;
    width: 900px;
    margin-left:150px;
    margin top: 70px;
    border-radius: 13px;
    position:relative;
    top: 13px;
    display:none;
    transition:1s
    
}


.camisetaCaracteristicas{
  font-family:arial;
  color:white;
  font-size:22px;
  margin-left: 22px;
  margin-top: 22px;
  position: absolute;
  text-align:center;
  
}


  
.letras:hover{
    color: #3EC0E7;
    background-color: white;

        
    border-radius:13px    
}

.caracteristicas:hover{
    transform:scale(1.1)
}



#mas:hover{
    transform:scale(1.1)
}

@media only screen and  (max-width: 1080px){
    
    .nombre{
        
        margin-left:300px
    }
    .camiseta {
        width: 870px;
        margin-left: 40px
            
    }

    .caracteristicas{
        
        left: 470px
    }
    #mas{
        margin-left: 30px        
                }
}

@media (max-width:900px) {
    
    
    .nombre{
       margin-left: 90px
    }
    .camiseta{
        width: 550px;
        margin-left: 13px
    }
    .caracteristicas{
        width:370px;
        left:200px;
        font-size:20px
        
    }
    .foto{
        height:170px;
        width: 170px    
    }
    #mas{
     width: 550px;
     margin-left: 13px;
    }
}








.camisetaCaracteristicas{
    
    font-size: 22px
}
.foto:hover{
    transform:scale(1.3)

}

@media (max-width:700px){
    .nombre{
        margin-left: 3px;
        margin-top:30px;
        width: 400px;
        height: 170px
    }
    .letras{
        
        
        height:170px
    }
    
    .camiseta{
        width: 400px;
        margin-left:3px;
        margin-top:200px
    }
    .caracteristicas{
        
        left:40px;
        margin-top:150px;
        top:280px
    }
    .foto{
        height: 150px;
        width:150px;
        margin-left: 150px;
        margin-top: -122px
    }
    
    #mas{
        
        width:400px;
        margin-left:3px;
    }
    .camisetaCaracteristicas{
        font-size: 15px;
        margin-left:3px
    }
    .boton{
        height: 22px;
        width: 22px
    }
}


